.filter-list{
    display: flex;
}

.filter{
    border: 1px solid black;
    margin: 0 5px;
    padding: 0 2px;
    border-radius: 5px;
}

.filter::after{
    content: 'X';
    cursor: pointer;
    color: red;
    padding: 2px;
}