.ideaFormContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 45vh;
}

.ideaFormContainer input[type="text"],
.ideaFormContainer input[type="email"],
.ideaFormContainer textarea {
    width: 95%;
    padding: 12px;
    border: 1.5px solid #ccc;
    margin: 6px;
}