.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: black;
    color: white;
    padding: 0px 20px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    top: 0;
}

.loginBtn{
    border: 2px solid white;
    padding: 4px 15px;
    cursor: pointer;
    margin: 0px 10px;
}

.navbar img{
    position: absolute;
    left: 20px;
}

.navbar2{
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: black;
    color: white;
    padding: 0px 20px 0 10px;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.usrimg{
    position: absolute;
    right: 110px;
    height: 80%;
    filter: invert();
    top: 5px;
}