.wrapper{
    width: 90%;
    /* height: 600px; */
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 30px;
}
.wrapper .card{
    width: 350px;
    height: 450px;
    margin: 40px;
    border: 2px solid grey;
    padding: 0px;
    padding-bottom: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* z-index: -1; */
}
.wrapper .card h2{
    font-size: 24px;
}
.wrapper .card img{
    height: 50%;
    width: 100%;
    /* max-width: 300px; */
    /* max-height: 300px; */
    border-radius: 15px;
}
.wrapper .card .tags span{
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(91, 90, 90) ;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 3px;
}
.wrapper .card p{
    margin: 10px;
    font-size: 14px ;
}
.card button{
    background-color: #e42300 !important;
    color: white;
}

.card  a{
    text-decoration: none !important;
}